<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">公司简介</h2>
                <hr class="light">
                <p class="text-faded">江苏禾禾家纺设计有限公司总部位于江苏省南通市海门市纺都大道188号，是一个以家纺设计为主要业务的设计公司。公司目前具有员工二十余人，主营家纺数码印花设计、花型设计、款式设计、绣花设计。公司成立之初便瞄准高端家纺设计领域，致力于为广大家庭提供高端舒适温馨的家纺产品。</p>
                <a href="#services" class="btn btn-default btn-xl">继续浏览</a>
            </div>
        </div>
    </div>
</section>
