<section id="services">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">公司部门</h2>
                <hr class="primary">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-diamond wow bounceIn text-primary"></i>
                    <h3>禾禾·印</h3>
                    <p class="text-muted">主营家纺数码印花业务</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-diamond wow bounceIn text-primary" data-wow-delay=".1s"></i>
                    <h3>禾禾·绣</h3>
                    <p class="text-muted">主营款式绣花业务</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-diamond wow bounceIn text-primary" data-wow-delay=".2s"></i>
                    <h3>禾禾·版</h3>
                    <p class="text-muted">主营家纺版型设计</p>
                </div>
            </div>
            <!-- <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-heart wow bounceIn text-primary" data-wow-delay=".3s"></i>
                    <h3>禾禾·样</h3>
                    <p class="text-muted">主营家纺样式设计</p>
                </div>
            </div> -->
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-diamond wow bounceIn text-primary" data-wow-delay=".3s"></i>
                    <h3>禾禾·绘</h3>
                    <p class="text-muted">主营家纺花型手绘设计</p>
                </div>
            </div>
        </div>
    </div>
</section>
